verif_training/lab15/imc.log
verif_training/lab06/xcelium.d/
verif_training/lab06/xmvlog_11004.err
verif_training/lab06/xmvlog_1440.err
verif_training/lab06/xmvlog_20826.err
verif_training/lab06/xmvlog_31089.err
verif_training/lab06/xrun.history
verif_training/lab06/xrun.log
verif_training/lab08/.simvision/
verif_training/lab09/.simvision/
verif_training/lab10/log_dir/
verif_training/lab11/log_dir/
verif_training/lab12/log_dir/
verif_training/lab13/log_dir/
verif_training/lab14/log_dir/
verif_training/lab15/.simvision/
verif_training/lab15/log_dir/
verif_training/lab15/mdv.log
verif_training/lab15/sv/uvc/b2gfifo_topvif
verif_training/lab15/sv/env/b2gfifo_covergroup
verif_training/lab14/simvision.svcf
verif_training/lab13/simvision/
verif_training/lab15/simvision.svcf
